.logo-background {
    background-color: white;
    padding: 0.5rem;
    border-radius: 50%;
}

/* footer */
/* Boxed footer icon */
.footer-part .boxed-footer-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translatex(0px) translatey(0px);
}


.banner1-img>a>img {
    object-fit: cover;
    opacity: 0.4;
}

.banner1-img {
    background: black;
}

/* Image */
.boxed-footer-icon a img {
    margin-right: 10px;
}

/* donate box */

/* Link */
.services-part .service-p a {
    color: #ffffff;
    text-decoration: underline;
    display: inline-block;
    height: 65px;
}

/* Column 3/12 */
.services-part .p-0 .service-inner {
    transform: translatex(0px) translatey(0px);
    height: 303px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Aboutus part */
div .aboutus-part {
    transform: translatex(0px) translatey(0px);
}

/* Link */
.services-part .service-p a {
    color: #ffffff;
    text-decoration: underline;
    display: inline-block;
    height: 65px;
}

/* Column 3/12 */
.services-part .p-0 .service-inner {
    transform: translatex(0px) translatey(0px);
    height: 303px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Aboutus part */
div .aboutus-part {
    transform: translatex(0px) translatey(0px);
}

/* Donate */
.services-part .p-0 .donate-g {
    color: #ffffff;
    background-color: #ff6d0d;
    background-size: auto;
    padding-left: 20px;
    margin-left: 0px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 200px;
    transform: translatex(0px) translatey(0px);
}

/* Donate */
.owl-stage .item .donate-g {
    background-color: #ff6d0d;
}

/* Donate (hover) */
.services-part .p-0 .donate-g:hover {
    color: #ffffff !important;
    transform: translatex(0px) translatey(0px);
}

/* Donate (hover) */
.services-part .p-0 .donate-g:hover {
    background-color: #d35400;
}

/* Recent causes slider */
div div .recent-causes-slider {
    display: grid;
    justify-content: space-between;
    flex-wrap: nowrap;
    column-gap: 20px;
}

/* Recent causes slider */
div div .recent-causes-slider {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}


@media (max-width:575px) {

    /* Recent causes slider */
    div div .recent-causes-slider {
        grid-template-rows: 1fr 1fr 1fr;
        column-gap: 0px;
        row-gap: 20px;
        align-content: normal;
        justify-content: center;
    }

    /* Recent causes slider */
    div .recent-causes-part .container div .recent-causes-slider {
        grid-template-rows: 1fr 1fr !important;
        grid-template-columns: auto !important;
    }

}

/* Image */
.services-part .p-0 img {
    height: 82px;
}

/* Image */
div .services-part .container .row .p-0 .service-inner img {
    width: auto !important;
}

/* Pay option */
.donation-part .payment-part .pay-option {
    display: flex;
}

/* Form Division */
.payment-part .donation-detail form {
    display: flex;
    flex-wrap: wrap;
}

/* Donation detail */
.payment-part .donation-detail {
    display: flex;
}

@media (max-width:1199px) {

    /* Form check label */
    .pay-group .form-check .form-check-label {
        display: inline-block;
        flex-wrap: nowrap;
    }

}

/* Pay option */
.donation-part .payment-part .pay-option {
    display: flex;
}

/* Form Division */
.payment-part .donation-detail form {
    display: flex;
    flex-wrap: wrap;
}

/* Donation detail */
.payment-part .donation-detail {
    display: flex;
}


/* Form check label */
.pay-group .form-check .form-check-label {
    display: inline-block;
    flex-wrap: nowrap;
}

/* Link */
.payment-part a {
    display: block;
    float: left;
    clear: both;
}


/* myabe delete this */
@media (max-width:1199px) {

    /* Recent causes part */
    div .recent-causes-part:nth-child(7) {
        padding-top: 56px;
        transform: translatex(0px) translatey(0px);
    }

}

@media (min-width:992px) {

    /* Recent causes part */
    div .recent-causes-part:nth-child(6) {
        padding-bottom: 10px;
    }

}

@media (min-width:992px) {

    /* Recent causes part */
    div .recent-causes-part {
        padding-top: 40px;
        padding-bottom: 43px !important;
    }

}

@media (min-width:992px) {

    /* Recent causes part */
    div .recent-causes-part:nth-child(7) {
        padding-top: 0px;
    }

}