:root {
    --primary-color: #00a751;
    --secondary-color: #d92f3b;
}

.nav li a {
    color: rgba(0, 0, 0, 0.802) !important;
    font: 100 14px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.nav li a:hover {
    color: #d92f3b !important;
}

.site-header #navbar>ul .sub-menu {
    background-color: var(--primary-color);
    color: #fff !important;
    border-top: 2px solid var(--secondary-color);
}

#navbar>ul>li>ul>li>a {
    color: #fff !important;
}

#header>div>div {
    padding: 1rem 0rem !important;
}

#navbar>ul {
    width: 100%;
}

body>div>main>section {
    padding: 1rem 0rem !important;
}

.logo-title {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    padding: 2pt;
    font-weight: lighter;
    width: min-content;
    line-height: 10pt;
}

.logo-title>h4 {
    margin: 0pt;
    font-weight: 100;
    color: rgb(67, 67, 67);
}


body>div>footer>div.upper-footer>div>div>div.col.col-md-4.col-sm-6>div>div>span>h4 {
    font-size: xx-large;
}

@media (max-width: 767px) {

    .header-style-2 .site-logo,
    .header-style-3 .site-logo,
    .header-style-4 .site-logo,
    .header-style-5 .site-logo,
    .header-style-6 .site-logo {
        text-align: left;
    }
}

.about-section-s2 .container>.row:last-child .about-text {
    margin-bottom: 0px !important;
}

.section-padding {
    padding: 0px !important;
}

@media (max-width: 991px) {
    .site-header .navbar-header button {
        background-color: gray !important;
    }
}

.icon-wrapper {
    display: flex;
    gap: 1pt;
    align-items: center;
}

.theme-btn-s2 {
    background-color: #00A751;
    color: #fff;
}

@media (max-width: 991px) {

    .header-style-1 .navbar-header,
    .header-style-2 .navbar-header,
    .header-style-3 .navbar-header,
    .header-style-4 .navbar-header,
    .header-style-5 .navbar-header,
    .header-style-6 .navbar-header {
        padding-bottom: 0px;
    }
}

.menu-wrapper {
    display: flex;
    align-items: center;
}

.container {
    padding-top: 1rem;
}

body>div>footer>div.upper-footer {
    padding: 1rem 0rem !important;
}

.site-footer .widget>h3:before,
.site-footer .widget .footer-logo:before {
    display: none !important;
}

#header>div>div>div>div>div.col.col-sm-3>div>a>span h4 {
    /* capitalise text */
    text-transform: uppercase !important;
    font-size: 11pt;
}

@media (max-width: 991px) {
    #header>div>div>div {
        padding-top: 0%;
    }
}

#header>div>div>div>div>div.container {
    padding-top: 0%;
}

#header>div>div>div {
    padding-top: 0%;
}

.theme-btn-s2:after {
    color: yellow !important;
}

.about-section-s4 .about-img,
.about-section-s5 .about-img {
    margin-top: -20%;
    margin-bottom: 1rem;
}

.wikth {
    height: 390px;
    margin-bottom: 1rem;
}

@media (max-width: 991px) {
    .wikth {
        height: 100%;
    }
}

.about-section-s2 .container>.row:first-child {
    margin-bottom: 1rem;
}

.fun-fact {
    padding: 0% 0% !important;
}

/* screen > 991px */
@media (max-width: 991px) {
    .fun-fact {
        padding: 0% 0% !important;
    }

    .fun-fact .row>.col {
        margin: 1rem 0rem !important;
    }

    body>div>main>section.section-padding.about-section-s4>div>div:nth-child(2)>div.col.col-md-5>div {
        margin-top: 1rem;
    }
}

:root {
    --primary-color: #00a751;
    --secondary-color: #d92f3b;
}

.nav li a {
    color: rgba(0, 0, 0, 0.802) !important;
    font: 100 14px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.nav li a:hover {
    color: #d92f3b !important;
}

.site-header #navbar>ul .sub-menu {
    background-color: var(--primary-color);
    color: #fff !important;
    border-top: 2px solid var(--secondary-color);
}

#navbar>ul>li>ul>li>a {
    color: #fff !important;
}

#header>div>div {
    padding: 1rem 0rem !important;
}

#navbar>ul {
    width: 100%;
}

body>div>main>section {
    padding: 1rem 0rem !important;
}

.logo-title {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    padding: 2pt;
    font-weight: lighter;
    width: min-content;
    line-height: 10pt;
}

.logo-title>h4 {
    margin: 0pt;
    font-weight: 100;
}


body>div>footer>div.upper-footer>div>div>div.col.col-md-4.col-sm-6>div>div>span>h4 {
    font-size: xx-large;
}

@media (max-width: 767px) {

    .header-style-2 .site-logo,
    .header-style-3 .site-logo,
    .header-style-4 .site-logo,
    .header-style-5 .site-logo,
    .header-style-6 .site-logo {
        text-align: left;
    }
}

.about-section-s2 .container>.row:last-child .about-text {
    margin-bottom: 0px !important;
}

.section-padding {
    padding: 0px !important;
}

@media (max-width: 991px) {
    .site-header .navbar-header button {
        background-color: gray !important;
    }
}

.icon-wrapper {
    display: flex;
    gap: 1pt;
    align-items: center;
}

.theme-btn-s2 {
    background-color: #00A751;
    color: #fff;
}

@media (max-width: 991px) {

    .header-style-1 .navbar-header,
    .header-style-2 .navbar-header,
    .header-style-3 .navbar-header,
    .header-style-4 .navbar-header,
    .header-style-5 .navbar-header,
    .header-style-6 .navbar-header {
        padding-bottom: 0px;
    }
}

.menu-wrapper {
    display: flex;
    align-items: center;
}

.container {
    padding-top: 1rem;
}

body>div>footer>div.upper-footer {
    padding: 1rem 0rem !important;
}

.site-footer .widget>h3:before,
.site-footer .widget .footer-logo:before {
    display: none !important;
}

#header>div>div>div>div>div.col.col-sm-3>div>a>span h4 {
    /* capitalise text */
    text-transform: uppercase !important;
    font-size: 11pt;
}

@media (max-width: 991px) {
    #header>div>div>div {
        padding-top: 0%;
    }
}

#header>div>div>div>div>div.container {
    padding-top: 0%;
}

#header>div>div>div {
    padding-top: 0%;
}

.theme-btn-s2:after {
    color: yellow !important;
}

.about-section-s4 .about-img,
.about-section-s5 .about-img {
    margin-top: -20%;
    margin-bottom: 1rem;
}

.wikth {
    height: 390px;
    margin-bottom: 1rem;
}

@media (max-width: 991px) {
    .wikth {
        height: 100%;
    }
}

.about-section-s2 .container>.row:first-child {
    margin-bottom: 1rem;
}

.fun-fact {
    padding: 0% 0% !important;
}

/* screen > 991px */
@media (max-width: 991px) {
    .fun-fact {
        padding: 0% 0% !important;
    }

    .fun-fact .row>.col {
        margin: 1rem 0rem !important;
    }

    body>div>main>section.section-padding.about-section-s4>div>div:nth-child(2)>div.col.col-md-5>div {
        margin-top: 1rem;
    }
}

body>div>section.fun-fact>div>div {
    margin: 1rem;
}

@media (max-width:650px) {

    /* Link */
    .navbar-nav>li>a {
        font-weight: 400 !important;
    }

    /* Row */
    .about-section-s4 .row:nth-child(1) {
        height: 60px;
    }

}

.to-left {
    object-position: right;
}

.greenbox {
    background-color: #00A751;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    color: white;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.separator {
    height: 9rem;
    border-right: 2px solid #fff;
}

.black {
    color: black !important;
}

.about-img>img {
    overflow: hidden;
    object-fit: cover;

}

.about-section-s4 .about-img,
.about-section-s5 .about-img {
    margin-top: 0%;
}

/* Iframe */
.section-padding iframe {
    padding-bottom: 2rem;
}

/* Heading */
.footer-logo .logo-title h4 {
    color: #ffffff;
}

.greenbox {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 100%));
    grid-gap: 10px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col {
    display: flex;
    flex-direction: column;
}


@media only screen and (max-width : 480px) {
    .greenbox {
        grid-template-columns: repeat(1, minmax(0, 100%));
    }
}

@media only screen and (min-width : 481px) and (max-width : 1024px) {
    .greenbox {
        grid-template-columns: repeat(2, minmax(0, 100%));
    }

    .greenbox>div {
        border: 5px solid #fff;
    }
}

/* Division */
.about-details .greenbox div {
    border-width: 7px;
    border-style: solid;
    width: calc(1fr/4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    text-align: center;
}

/* Division */
.page-wrapper main .about-section-s4 .container .row .col .about-details .greenbox div {
    height: 100% !important;
}

a.button-white {
    color: black;
    background-color: #FFFFFF;
    width: 1fr;
}

/* Link */
.about-details div a {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 25px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

@media (max-width:480px) {

    /* Row */
    .about-section-s4 .row {
        flex-wrap: wrap;
    }

}

@media (max-width:767px) {

    /* Row */
    .about-section-s2 .row {
        flex-wrap: wrap;
    }

    /* Fun fact */
    .page-wrapper .fun-fact {
        flex-wrap: wrap;
        transform: translatex(0px) translatey(0px);
    }

}

@media (max-width:600px) {

    /* Link */
    .about-details div a {
        padding-left: 0%;
        padding-right: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        align-self: center;
        flex: 0 1 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Link */
    .page-wrapper main .about-section-s4 .container .row .col .about-details .greenbox div a {
        width: 100% !important;
        height: 100% !important;
    }

}

.services-grid-s2 .hover-grid {
    background: url("public/assets/images/logo.webp") center center/cover no-repeat local;
}